<div *ngIf="allMessages | async as service">
  <ng-container *ngIf="service.messages.length > 0; else notFound">
    <form [formGroup]="form">
      <mat-slide-toggle
        *ngIf="filteredMessages | async"
        formControlName="fuzzy"
        color="primary"
        style="padding-bottom: 20px"
        >Fuzzy</mat-slide-toggle
      >
    </form>

    <button mat-raised-button color="primary" (click)="openFileUploadModal()">Upload file</button>

    <app-messages></app-messages>
  </ng-container>

  <ng-template #notFound>
    <p>No language files found</p>
    <div>
      <p>Upload language files</p>
      <button mat-raised-button color="primary" (click)="openFileUploadModal()">Upload file</button>
    </div>
  </ng-template>
</div>
