<div class="container">
  <h3>{{ edit ? 'Edit service:' + ' ' + data.name : 'Create service' }}</h3>
  <button type="button" class="grow" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="form">
      <mat-label>Service name</mat-label>
      <input matInput formControlName="serviceName" />
      <mat-error style="font-size: 0.8rem">Service name is <strong>required</strong> </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" class="container-actions">
  <button type="button" mat-button mat-dialog-close>Cancel</button>
  <button type="button" color="primary" mat-raised-button cdkFocusInitial (click)="createService()">
    {{ edit ? 'Edit' : 'Create' }}
  </button>
</mat-dialog-actions>
