@for (x of findedMessages(); track x?.id) {
  <div class="container" [@slideInOut]="state">
    <div class="container1">
      <pre>
        <code #pre  (focusout)="save($event, x?.id, $index)" [attr.contenteditable]="x?.status !== 0" class="code messageformat2" >{{ x?.message }}</code> 
      </pre>
      <div class="container-icons">
        <mat-icon
          (click)="changeStatuss($index, x?.id!)"
          inline
          matTooltip="Mark as Translated"
          class="icon"
          [class.hidden]="x?.status === 0"
          >spellcheck</mat-icon
        >
        <mat-icon inline [matTooltip]="tooltip(x?.status)" class="icon" [fontIcon]="icon(x?.status)"></mat-icon>
      </div>
    </div>
    @if ($index !== findedMessages().length - 1) {
      <mat-divider [vertical]="true"></mat-divider>
    }
  </div>
}
