@for (item of filteredMessages(); track item.id) {
  <div class="container" [@slideInOut]="state">
    <div class="container1">
      <pre>
        <code #pre (focusout)="updateMessageText(item, pre.innerText, $index)" [attr.contenteditable]="item?.status !== 0" class="code messageformat2" >{{ item.message}}</code>
      </pre>
      <div class="container-icons">
        <mat-icon
          (click)="updateMessageAsTranslated(item, $index)"
          inline
          matTooltip="Mark as Translated"
          class="icon"
          [class.hidden]="item?.status === 0"
          fontIcon="spellcheck"
        ></mat-icon>
        <mat-icon inline [matTooltip]="tooltip(item?.status)" [fontIcon]="icon(item?.status)" class="icon"></mat-icon>
      </div>
    </div>
    @if ($index !== filteredMessages().length - 1) {
      <mat-divider [vertical]="true"></mat-divider>
    }
  </div>
}
