.container {
  display: flex;
  flex: 1;
}

.container1 {
  border-bottom: 1px solid #cccccc;
  display: flex;
  width: 100%;
  padding: 5px 10px;
  align-items: center;
  gap: 1em;
}

.container-icons {
  width: 50px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5em;
}

.hidden {
  visibility: hidden;
}

.icon {
  max-width: 20px;
}

pre {
  white-space: pre-wrap;
  width: 100%;
  word-break: break-word;
  display: flex;
  align-items: center;
}

.code {
  display: block;
  padding: 15px;
}

.container-icon {
  display: flex;
  align-items: center;
}

// .fade-out {
//   transition: opacity 0.5s ease;
//   opacity: 0;
// }

.hljs {
  background: none;
  color: #000000;
}
