<div style="padding: 30px; max-width: 1000px; margin: auto">
  <router-outlet></router-outlet>
  <!-- <div
    style="display: flex; justify-content: space-between; align-items: baseline"
  >
    <form [formGroup]="form">
      <mat-form-field
        appearance="outline"
        style="margin-bottom: 30px; margin-right: 30px"
      >
        <mat-label>Services</mat-label>
        <mat-select formControlName="service">
          <mat-option
            *ngFor="let service of serviceList | async"
            [value]="service.id"
            >{{ service.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle
        *ngIf="filteredMessages | async"
        formControlName="fuzzy"
        color="primary"
        style="padding-bottom: 20px"
        >Fuzzy</mat-slide-toggle
      >
    </form>
    <button mat-raised-button color="primary" (click)="openFileUploadModal()">
      Upload file
    </button>
  </div> -->
  <!-- <p *ngIf="(serviceList | async)?.length === 0">No service found</p>
  <button mat-raised-button color="primary" (click)="createService()">
    Create service
  </button> -->
  <!-- <mat-selection-list
    [multiple]="false"
    *ngIf="serviceList | async as services"
  >
    <ng-container *ngFor="let service of services; index as i">
      <mat-divider *ngIf="i > 0"></mat-divider>
      <mat-list-option (click)="openService(service.id)">
        <span>{{ service.name }}</span>
      </mat-list-option>
    </ng-container>
  </mat-selection-list> -->
  <!-- <div
    *ngIf="filteredMessages | async as data"
    style="border: 1px solid #cccccc"
  >
    <ng-container *ngFor="let d of messagesEng | async">
      <div *ngIf="(languages | async)!.length > 2; else templ">
        <div *ngFor="let x of d.messages; let i = index" style="display: flex">
          <mat-divider></mat-divider>
          <div style="display: flex; align-items: center; width: 50%">
            <mat-form-field
              class="border"
              appearance="outline"
              style="width: 100%; padding: 5px 20px"
            >
              <textarea cdkTextareaAutosize matInput cdkAutosizeMinRows="1"
                >{{ x.message.slice(1, -1) }}
                </textarea
              >
            </mat-form-field>
          </div>
          <mat-divider [vertical]="true"></mat-divider>

          <div
            style="display: flex; flex-direction: column; height: auto; flex: 1"
          >
            <div *ngFor="let targetMsg of targetLang">
              <ng-container *ngFor="let z of targetMsg.messages; let j = index">
                <div *ngIf="match(x.id, z)" class="border-bottom">
                  <mat-divider></mat-divider>
                  <div style="display: flex; height: 100%">
                    <div
                      style="
                        background-color: #eeeeee;
                        padding: 18px 8px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 130px;
                        font-size: 13px;
                      "
                    >
                      <span>
                        {{ languageNames.of(targetMsg.language) }}
                      </span>
                    </div>
                    <div style="width: 100%">
                      <mat-form-field
                        class="border"
                        appearance="outline"
                        style="width: 100%; padding: 5px 10px"
                      >
                        <textarea
                          matInput
                          cdkTextareaAutosize
                          (focusout)="save($event, x.id, targetMsg.language)"
                          >{{
                            getTranslation(x.id, targetMsg.language).slice(
                              1,
                              -1
                            )
                          }}</textarea
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <ng-template #templ class="table-container">
        <div
          style="display: flex; background-color: #eeeeee"
          class="header-row"
        >
          <ng-container *ngFor="let lang of languages | async" class="divider">
            <div
              class="sticky-header-cell"
              style="width: 50%; padding: 10px; text-align: center"
            >
              {{ languageNames.of(lang) }}
            </div>
            <mat-divider [vertical]="true"></mat-divider>
          </ng-container>
        </div>
        <ng-container *ngFor="let x of d.messages; let i = index">
          <div style="display: flex">
            <div style="flex: 1; display: flex; align-items: center">
              <mat-form-field
                class="border"
                appearance="outline"
                style="width: 100%; padding: 5px 10px"
              >
                <textarea cdkTextareaAutosize matInput
                  >{{ x.message.slice(1, -1) }}
                  </textarea
                >
              </mat-form-field>
            </div>
            <mat-divider [vertical]="true"></mat-divider>

            <div
              style="
                display: flex;
                flex-direction: column;
                height: auto;
                flex: 1;
              "
            >
              <div *ngFor="let targetMsg of targetLang" style="flex: 1">
                <ng-container *ngFor="let z of targetMsg.messages">
                  <div
                    *ngIf="match(x.id, z)"
                    style="display: flex; height: 100%"
                  >
                    <mat-form-field
                      class="border"
                      appearance="outline"
                      style="width: 100%; padding: 5px 10px"
                    >
                      <textarea
                        matInput
                        cdkTextareaAutosize
                        (focusout)="save($event, x.id, targetMsg.language)"
                        >{{ match(x.id, z) }}</textarea
                      >
                    </mat-form-field>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </ng-container>
      </ng-template>
    </ng-container>
  </div>
</div> -->
</div>
