.title {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding-top: 3em;
}

.button-add {
  text-align: right;
  margin-bottom: 4rem;
}

.hidden {
  visibility: hidden;
}
