<ng-container *ngIf="services.length > 0; else notFound">
  <button mat-raised-button color="primary" (click)="createService()">Create service</button>
  <mat-selection-list multiple="false">
    <ng-container *ngFor="let service of services; index as i">
      <mat-divider *ngIf="i > 0"></mat-divider>
      <mat-list-option class="serviceList">
        <span [routerLink]="['/services', service.id]" style="width: 90%">{{ service.name }}</span>
        <div>
          <button mat-icon-button color="primary" (click)="editService()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteService(service.id, i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-option>
    </ng-container>
  </mat-selection-list>
</ng-container>

<ng-template #notFound>
  <p>No service found. Create your first service.</p>
  <button mat-stroked-button color="primary" (click)="createService()">Create service</button>
</ng-template>
