<mat-toolbar>
  <h1 class="title">{{ title.getTitle() }}</h1>
</mat-toolbar>
<div class="container">
  <div style="margin: 10px 60px">
    <div class="button-add" [class.hidden]="services$().length === 0">
      <button type="button" mat-raised-button color="primary" (click)="createService()">
        <mat-icon fontIcon="add"></mat-icon>New service
      </button>
    </div>
    <app-services-list
      [services]="services$()"
      (delete)="deleteService($event)"
      (edit)="editService($event)"
      (create)="createService()"
    ></app-services-list>
  </div>
</div>
