<div class="container">
  <h3>Add language</h3>
  <button type="button" class="grow" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="form">
    <mat-label>Language</mat-label>
    <input matInput [formControl]="language" />
    <mat-error>Language is required</mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end" class="container-actions">
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button (click)="add()">Add</button>
</mat-dialog-actions>
