<div
  style="
    display: flex;
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 8px;
    justify-content: space-between;
    align-items: center;
  "
>
  <h3>{{ download ? 'File download' : 'File import' }}</h3>
  <button class="grow" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
@if (!download) {
  <mat-dialog-content>
    @if (show) {
      <form
        [formGroup]="form"
        style="display: flex; flex-direction: column; gap: 20px; width: 100%; padding-bottom: 16px"
      >
        <div style="display: flex; gap: 20px">
          <mat-form-field appearance="outline">
            <mat-label>Language</mat-label>
            <input formControlName="language" matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Schema</mat-label>
            <mat-select formControlName="schema">
              @for (sch of schema | keyvalue; track sch) {
                <mat-option [value]="sch.value">{{ sch.key }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: space-between">
          <section>
            <mat-checkbox color="primary" formControlName="original">Original language</mat-checkbox>
          </section>
          <section>
            <mat-checkbox color="primary" formControlName="populateTranslations">Populate translations</mat-checkbox>
          </section>
        </div>
      </form>
      <mat-divider></mat-divider>
    } @else {
      <div class="dropzone" ngClass="{{ dragAreaClass }}">
        <div class="text-wrapper">
          <div class="centered">
            <mat-icon
              class="hvr-wobble-vertical material-symbols-outlined"
              style="font-size: 50px; width: 50px; height: auto; margin-bottom: 20px"
              fontIcon="upload"
            ></mat-icon>
            <div>
              <input type="file" name="file" id="file" (change)="onFileSelected($event)" />
              <label for="file"><span class="textLink">Select a file</span> or drag and drop it here!</label>
            </div>
          </div>
        </div>
      </div>
    }
    @if (file) {
      <div style="padding-top: 16px; display: flex; justify-content: space-between">
        <div style="display: flex; gap: 1rem">
          <mat-icon inline class="material-symbols-outlined" fontIcon="note"></mat-icon>
          <span>{{ file.name }}</span>
        </div>
        <mat-icon
          class="icon-delete"
          inline
          class="material-symbols-outlined"
          style="cursor: pointer"
          fontIcon="delete"
          (click)="file = null; show = false"
        ></mat-icon>
      </div>
    }
  </mat-dialog-content>
} @else {
  <mat-dialog-content>
    <form
      [formGroup]="form"
      style="display: flex; flex-direction: column; min-width: 400px; width: 100%; padding-bottom: 16px"
    >
      <mat-form-field appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
          @for (language of languages; track language) {
            <mat-option [value]="language">{{ languageNames.of(language) }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>File format</mat-label>
        <mat-select formControlName="schema">
          @for (sch of schema | keyvalue; track sch) {
            <mat-option [value]="sch.value">{{ sch.key }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
}
<mat-dialog-actions align="end" style="padding: 0 24px 16px">
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button cdkFocusInitial (click)="download ? downloadFile() : upload()">
    {{ download ? 'Download' : 'Upload' }}
  </button>
</mat-dialog-actions>
