<div class="container">
  <h3>{{ download ? 'File download' : 'File import' }}</h3>
  <button class="grow" mat-icon-button mat-dialog-close>
    <mat-icon fontIcon="close"></mat-icon>
  </button>
</div>
@if (!download) {
  <mat-dialog-content>
    @if (show) {
      <form [formGroup]="form" class="form">
        <div class="container-form-field">
          <mat-form-field appearance="outline">
            <mat-label>Language</mat-label>
            <input formControlName="language" matInput />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Schema</mat-label>
            <mat-select formControlName="schema">
              @for (schema of schemas | keyvalue; track schema) {
                <mat-option [value]="schema.value">{{ schema.key }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="container-checbox">
          <section>
            <mat-checkbox color="primary" formControlName="original">Original language</mat-checkbox>
          </section>
          <section>
            <mat-checkbox color="primary" formControlName="populateTranslations">Populate translations</mat-checkbox>
          </section>
        </div>
      </form>
      <mat-divider></mat-divider>
    } @else {
      <div class="dropzone" ngClass="{{ dragAreaClass }}">
        <div class="text-wrapper">
          <div class="centered">
            <mat-icon class="hvr-wobble-vertical material-symbols-outlined icon-upload" fontIcon="upload"></mat-icon>
            <div>
              <input type="file" name="file" id="file" (change)="onFileSelected($event)" />
              <label for="file"><span class="textLink">Select a file</span> or drag and drop it here!</label>
            </div>
          </div>
        </div>
      </div>
    }
    @if (file) {
      <div class="container-file">
        <div class="file">
          <mat-icon inline class="material-symbols-outlined" fontIcon="note"></mat-icon>
          <span>{{ file.name }}</span>
        </div>
        <mat-icon
          class="icon-delete"
          inline
          class="material-symbols-outlined"
          style="cursor: pointer"
          fontIcon="delete"
          (click)="file = null; show = false"
        ></mat-icon>
      </div>
    }
  </mat-dialog-content>
} @else {
  <mat-dialog-content>
    <form [formGroup]="form" class="form" style="min-width: 400px">
      <mat-form-field appearance="outline">
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
          @for (language of lang | async; track language) {
            <mat-option [value]="language">{{ languageNames.of(language) }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>File format</mat-label>
        <mat-select formControlName="schema">
          @for (schema of schemas | keyvalue; track schema) {
            <mat-option [value]="schema.value">{{ schema.key }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
}
<mat-dialog-actions align="end" class="container-actions">
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-raised-button cdkFocusInitial (click)="download ? downloadFile() : upload()">
    {{ download ? 'Download' : 'Upload' }}
  </button>
</mat-dialog-actions>
